/* TODO:
    1)properties sort
*/

@font-face {
    font-weight: 700;
    font-family: "Gilroy ExtraBold";
    font-style: normal;
    src:
        url(../fonts/gilroyextrabold.woff) format("woff"),
        url(../fonts/gilroyextrabold.woff2) format("woff2")
}

@font-face {
    font-family: "Gilroy Light";
    font-style: normal;
    src:
        url(../fonts/gilroylight.woff) format("woff"),
        url(../fonts/gilroylight.woff2) format("woff2")
}

@font-face{
    font-weight: 400;
    font-family: "Open Sans";
    font-style: normal;
    src:
        url(../fonts/opensans.woff) format("woff"),
        url(../fonts/opensans.woff2) format("woff2")
}

@font-face{
    font-family: "Open Sans Light";
    font-style: normal;
    src:
        url(../fonts/opensanslight.woff) format("woff"),
        url(../fonts/opensanslight.woff2) format("woff2")
}

/** ----- COMMON ----- */
body {
    color: #464646;
    min-width: 1240px;
    font-weight: 400;
    font-size: 15px;
    font-family: "Open Sans Light","Arial",sans-serif
}

h1, h2 {
    font-size: 47px;
    font-family: "Gilroy ExtraBold", "Arial",sans-serif;
    color:#000
}

.extra-button {
    font-size: 18px;
    font-family: "Gilroy ExtraBold","Arial",sans-serif;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.visually-hidden {
    display: none;
}

.content-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ----- HEADER ----- */
header {
    width: 1160px;
    margin: 40px auto auto;
    background: #f7e296;
    height: 300px;
}

    .header-logo {
        font-family: "Gilroy ExtraBold";
        color: #000;
        font-size: 48px;
        text-decoration: none;
    }

    .search {
        font-family: "Open Sans Light";
        color: rgba(0, 0, 0, .3);
        font-size: 15px;
        line-height: 36px;
    } 
    
    panel {
        font-family: "Open Sans Light";
        font-size: 15px;
        line-height: 36px;
    }

    .menu-links > li > a {
        font-family: "Gilroy ExtraBold";
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .2em;
    }

    .catalog-additional a {
        font-family: "Open Sans Light", "Arial", sans-serif;
        font-size: 15px;
        text-decoration: none;
    }

/* ----- MAIN INDEX ----- */
main {
    width: 1160px;
    margin: 0 auto 82px;
}

    .slide h2 {
        line-height: 56px;
        letter-spacing: .012em;
        word-spacing: .012em;
    }

    .slide p {
        line-height: 30px;
        letter-spacing: .012em;
        word-spacing: .01em;
    }

    .info h2 {
        letter-spacing: .012em;
    }

    .info p {
        font-size: 15px;
        line-height: 30px;
    }

    .delivery-partners {
        font-size: 16px;
        line-height: 40px;
        color: #000;
        font-family: "Gilroy ExtraBold","Arial", sans-serif;
    }

    .popular-products {
        margin-bottom: 170px;
        display: flex;
        justify-content: space-around;
    }
        
        .popular-products a {
            width: 160px;
            height: 160px;
            text-decoration: none;
        }

        .popular-products .product-quadro-block {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 34px;
            background-color: #f7e296;
            width: 158px;
            height: 154px;
        }

        .popular-products span {
            font-size: 18px;
            line-height: 22px;
            font-family: "Gilroy ExtraBold","Arial",sans-serif;
            color: #000;

            letter-spacing: .015em;
        }

    .services {
        background: #ebebeb;
    }

        .services-menu {
            float: left;
            width: 300px;
            margin-top: 0;
            padding-left: 0;
            list-style: none;
        }

            .services h2 {
                letter-spacing: .018em;
            }

            .services p {
                line-height: 30px;
                letter-spacing: .018em;
            }

        .service {
            float: right;
            width: 715px;
            margin-right: 45px;
            padding-top: 10px;
            padding-left: 10px;
        }

    .partners {
        display: flex;
        justify-content: space-around;
    }

    .info {

    }

        .about {
            float: left;
            width: 475px;
        }

        .contacts {
            float: right;
            width: 560px;
        }

/* ----- */

/* ----- MAIN CATALOG ----- */

.breadcrumbs, .breadcrumbs a {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.3);
    text-decoration: none;
}

.catalog-subtitles {
    background: #ebebeb;    
}

    .catalog-subtitles > span {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .23em;
        font-family: "Gilroy ExtraBold","Arial",sans-serif;
        color: #000;
    }
.catalog-content .filters {
    background: #ebebeb;    
}

.sort-types, .sort-types a {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

.filter .filter-title {
    font-size: 18px;
    font-family: "Gilroy ExtraBold","Arial",sans-serif;
    color: #000;
}

.filter label {
    padding-left: 39px;
    font-size: 14px;
    line-height: 40px;
}

.item-desc h3 {
    font-size: 18px;
    font-family: "Gilroy ExtraBold","Arial",sans-serif;
    color: #000;
    letter-spacing: .012em;
}

.item-desc span {
    text-align: right;
    font-family: "Gilroy Light","Arial",sans-serif;
}

.order-menu .object-action-compare {
    color: rgba(0,0,0,.5);
    font-size: 13px;
    text-decoration: none;
}

.catalog-nav {
    font-family: "Gilroy ExtraBold","Arial",sans-serif;
    color: rgba(0,0,0,.3);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.5px;
    background: #ebebeb;    
}
/* ----- */

/* ----- FOOTER ----- */
footer {
    background-color: #464646;
    height: 300px;
}

    footer span {
        color: #fff;
        line-height: 30px;
    }

    .footer-left {
        float: left;
        width: 340px;
        min-height: 190px;
        margin-right: 27px;
    }

        .footer-left .footer-logo {
            font-family: "Gilroy ExtraBold";
            color: #f7e184;
            font-size: 48px;
            text-decoration: none;
        }
        
        .footer-left p {
            line-height: 30px;
            color: #fff;
        }
    
    .footer-center {
        float: left;
        width: 439px;
        margin-top: 83px;
    }

        .footer-center .footer-menu a {
            font-family: "Gilroy ExtraBold";
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .2em;
        }

    .footer-right {
        float: right;
        width: 340px;
    }

        .footer-right, .footer-user.panel {
            font-family: "Open Sans Light";
            font-size: 15px;
            line-height: 36px;
        }

/* ----- */